{% load cache %}<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>


<div class="col-lg-8 mx-auto p-3 py-md-5">

    <main>
        <h1>It's working :)</h1>
        <hr>
        <p class="fs-5 col-md-8">It is now: <strong>{{now}}</strong></p>
        <p class="fs-5 col-md-8">DB generated random: <strong>{{random_number}}</strong></p>
        <p class="fs-5 col-md-8">Host: <strong>{{nodename}}</strong></p>

        <div class="border p-5">
            <p class="fs-5 col-md-8">This content is rendered each time / Now is: <strong>{% now 'r' %}</strong></p>
            {% cache 5 cached-content-in-template %}
            <p class="fs-5 col-md-8">This is a content cached for 5 seconds / Now is: <strong>{% now 'r' %}</strong></p>
            {% endcache %}
        </div>

        <p></p>

        <div class="border p-3">
            <h4>Messages</h4>
            <div id="broadcast-messages">

            </div>
        </div>
    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script>
        window.addEventListener('load', (event) => {
            try {
                window.chatSocket = new WebSocket('ws://' + window.location.host + '/ws/');
            } catch(err) {
                window.chatSocket = null;
                console.log('Error detected when trying to connect to WS:');
                console.log(err);
            }

            if (window.chatSocket != null) {
                window.chatSocket.onmessage = function(e) {
                    console.log('chatSocket.onmessage(e):');
                    console.log(e);
                    const data = JSON.parse(e.data);
                    console.log('data:');
                    console.log(data);
                    document.querySelector('#broadcast-messages').innerHTML += (data.message + '<br>');
                };

                chatSocket.onclose = function(e) {
                    // console.error('Chat socket closed unexpectedly');
                    console.log('chatSocket.onclose(e):');
                    console.log(e);
                };
            }
        });
    </script>
</div>

</body>
</html>
